/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  margin: 20px;
  position: relative;
  background-color: #dee0de9e;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  font-size: 1em;
}
